body {
  background: white;
  margin: 0px;
  font-family: 'Open Sans', sans-serif; }
  body > .navbar {
    width: 100%; }
    body > .navbar > .navbar-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      max-width: 1024px;
      margin: 0 auto; }
      body > .navbar > .navbar-content > .navbar-left {
        height: 80px;
        display: flex;
        align-items: center; }
        body > .navbar > .navbar-content > .navbar-left > .logo {
          width: 200px; }
      body > .navbar > .navbar-content > .navbar-right {
        height: 80px;
        display: flex;
        align-items: center;
        padding-bottom: 10px; }
  body > .content-container {
    width: 100%; }
    body > .content-container > #top-content {
      justify-content: center; }
    body > .content-container > .content {
      padding: 100px 0 0;
      display: flex;
      align-items: center;
      flex-direction: column; }
      body > .content-container > .content > video {
        width: 40%; }
      body > .content-container > .content.footer {
        background: #333;
        height: 500px; }
      body > .content-container > .content > hr {
        border: none;
        border-top: 1px solid #e7e7e7;
        height: 1px;
        width: 60%; }
      body > .content-container > .content > .big-text {
        position: relative;
        font-size: 24px;
        color: black; }
        body > .content-container > .content > .big-text > .super-top-container {
          position: relative;
          padding: 0 170px; }
          body > .content-container > .content > .big-text > .super-top-container > .super-top {
            top: -15px;
            left: 5px;
            position: absolute;
            font-size: 33px;
            font-weight: 800;
            color: #27aae1;
            transform: rotate(3deg);
            border: 5px solid #27aae1;
            border-radius: 5px;
            width: 330px; }
      body > .content-container > .content .row {
        display: flex;
        flex-direction: row;
        min-width: 100%;
        padding: 70px 100px;
        justify-content: center;
        align-items: center;
        min-height: 600px; }
        body > .content-container > .content .row .left, body > .content-container > .content .row .right {
          display: flex;
          padding: 50px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          color: white;
          line-height: 1.5;
          letter-spacing: 1px; }
          body > .content-container > .content .row .left .screenshot, body > .content-container > .content .row .right .screenshot {
            width: 100%;
            height: auto;
            max-width: 700px; }
          body > .content-container > .content .row .left .para, body > .content-container > .content .row .right .para {
            margin-top: 12px; }
    body > .content-container > .transition {
      background: -moz-linear-gradient(90deg, #27aae1 0%, white 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #27aae1));
      background: -webkit-linear-gradient(90deg, #27aae1 0%, white 100%);
      background: -o-linear-gradient(90deg, #27aae1 0%, white 100%);
      background: -ms-linear-gradient(90deg, #27aae1 0%, white 100%);
      background: linear-gradient(0deg, #27aae1 0%, white 100%); }
  body .install-btn {
    padding: 10px;
    border: 1px solid #27aae1;
    border-radius: 5px;
    text-decoration: none;
    color: #27aae1; }
    body .install-btn.large-btn {
      padding: 25px;
      font-size: 27px; }
  body .install-btn:active {
    border: none;
    border: 1px solid #27aae1;
    border-radius: 5px;
    text-decoration: none;
    background: #27aae1;
    color: white; }
  body .tt-blue {
    color: #27aae1 !important; }
  body .stamp {
    font-size: 33px;
    font-weight: 800;
    color: white;
    padding: 10px;
    border: 5px solid white;
    border-radius: 5px; }

@media only screen and (max-width: 768px) {
  body > .navbar > .navbar-content {
    flex-direction: column; }
    body > .navbar > .navbar-content > .navbar-right {
      display: none; }
  body > .content-container {
    width: 100%; }
    body > .content-container > .content {
      padding-top: 0px; }
      body > .content-container > .content > video {
        width: 100%; }
      body > .content-container > .content > .big-text {
        font-size: 15px; }
        body > .content-container > .content > .big-text > .super-top-container {
          padding: 0px 105px; }
          body > .content-container > .content > .big-text > .super-top-container > .super-top {
            font-size: 20px;
            width: 200px; }
      body > .content-container > .content .row {
        flex-wrap: wrap;
        padding: 70px 0; }
        body > .content-container > .content .row .left, body > .content-container > .content .row .right {
          width: 100% !important;
          padding: 10px; }
        body > .content-container > .content .row.reverse-wrap {
          flex-wrap: wrap-reverse; }
  body .install-btn {
    padding: 10px;
    border: 1px solid #27aae1;
    border-radius: 5px;
    text-decoration: none;
    color: #27aae1; }
    body .install-btn.large-btn {
      padding: 10px;
      font-size: inherit; } }
